
nav {
    background-color: #D5E6FB; 
    margin: 0;
    padding: 15px;
    padding-left: 96px;
    padding-right: 96px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}

nav a {
    text-decoration: none;
    font-size: 16px; 
    color: #333;
    margin: 0 15px;
    transition: color 0.3s ease; 
}

nav a:hover {
    color: #0056b3; 
}

body{
    background-color: #f8f8f8;
}

.hero-text{
    padding-left: 96px;
    padding-right: 96px;
}

.cta-button{
    width: 40%;
    height: 30px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-decoration: #0056b3;
}

.cta-button:hover {
    background-color: #0056b3;
  }

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

a{
    text-decoration: none;
    color: inherit;
  }